<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326168277044-kbo8i4elr5qi5kj4cqub65kiatakgu8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326168277044-kbo8i4elr5qi5kj4cqub65kiatakgu8l</string>
	<key>API_KEY</key>
	<string>AIzaSyD3YFapMXM5irUY-oZ1m5CdocI4DzcpbRM</string>
	<key>GCM_SENDER_ID</key>
	<string>326168277044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.self.Calender</string>
	<key>PROJECT_ID</key>
	<string>daybook-161fb</string>
	<key>STORAGE_BUCKET</key>
	<string>daybook-161fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326168277044:ios:285216ea2c00f91f</string>
	<key>DATABASE_URL</key>
	<string>https://daybook-161fb.firebaseio.com</string>
</dict>
</plist>